html{
	height: 100%;
	width: 100%;
}

body{
	font-family: tahoma;
	padding: 0 20vw 0 20vw;
}

.send-button, .control-button{
	width: 5rem;
	font-weight: bold;
}

#main-grid{
	justify-content: center;
	align-items: center;
}

.level2-container{
	display: grid;
	grid-template-areas: 
	'level1 level1 level1'
	'level2 price-history broker-messages'
	'control control control'
	'broker-interface1 broker-interface1 broker-interface1'
	'broker-interface2 broker-interface2 broker-interface2';
	grid-gap: 3px;
}

.container-item{
	border: solid black 1px;
	background: rgba(0, 0, 0, 0.1);
	font-size: 1rem;
	padding: 2px;
}

.output-cell{
	text-align: right;
}

#input-symbol{
	width: 50px;
}

.misc-link{
	cursor: pointer;
}


#level1{
	grid-area: level1;
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
}

#level2{
	grid-area: level2;
	height: 200px;
	
}

#price-history{
	grid-area: price-history;
	background: black;
}

#broker-messages{
	grid-area: broker-messages;
	display: flex;
	height: 200px;
}

#level2, #price-history, #closed-positions, #open-orders, #symbol-list{
	height: 200px;
	max-height: 200px;
	overflow-y: scroll;
}

#control{
	grid-area: control;
	display: grid;
	grid-template-areas: 
	'setting setting'
	'send control';
}

#send-buttons{
	grid-area: send;
}

#control-buttons{
	grid-area: control;
}

#settings{
	grid-area: setting;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

#send-buttons button{
	color: white;
}

#buy-button{
	background: green;
}

#sell-button{
	background: red;
}

#short-button{
	background: brown;
}

#cover-button{
	background: blue;
}

#broker-interface1{
	grid-area: broker-interface1;
	display: flex;
	flex-flow: row;
	height: 200px;
}

#broker-interface2{
	grid-area: broker-interface2;
	display: flex;
	flex-flow: row;
}

#account-info{
	height: 200px;
}

#field-account-info, #field-short-locate, #field-offer-shares{
	width: 33.33%;
}

#field-position-info, #field-closed-positions{
	width: 50%;
	overflow-y: scroll;
}

#field-broker-messages{
	overflow-y: scroll;
	width: 100%;
}

#field-account-info{
	display: flex;
	flex-flow: column;
}

#position-info{
	grid-column: 2;
	grid-row: 1;
}

#open-orders{
	grid-column: 2;
	grid-row: 3;
}

#output-symbol, #output-short-status{
	font-weight: bold;
}

