@media screen and (min-width: 501px) and (max-width: 1000px){
	#main-grid{
		grid-template-columns: repeat(2, 1fr) !important;

	}

	#control button{
		width: 100px;
	}

	#settings input, #settings select{
		width: 75px;
	}

	.level2-container{
		grid-template-areas:
		'level1 level1'
		'level2 price-history'
		'control control'
		'broker-interface2 broker-interface2';
	}
}

@media screen and (max-width: 500px){

	body{
		width: 480px;
	}
	main{
		overflow: scroll;
	}

	body{
		padding:0;
		margin: 0;
	}

	#menu-button{
		visibility: hidden !important;
	}

	#main-grid{
		grid-template-columns: repeat(1, 1fr) !important;
	}

	#settings{
		font-size: 10px;
	}

	.input-field{
		width: 70px;
	}

	#broker-interface2{
		display: grid;
		grid-template-areas: 
		'account-info'
		'short-locate'
		'short-offer';
		grid-template-columns: repeat(2, 1fr);
	}

	#broker-interface2 #account-info{
		grid-area: account-info;
	}

	#broker-interface2 #menu-short-locate{
		grid-area: short-locate;
	}

	#broker-interface2 #menu-offer-shares{
		grid-area: short-offer;
	}
	.level2-container{
		grid-template-areas:
		"level2"
		"price-history" 
		"control"
		"broker-interface2" !important;
		width: 100% !important;
	}

	#control{
		grid-template-areas: 
		'setting'
		'send'
		'control' !important;
	}

	#level1{
		flex-flow: row wrap !important;
	}

	#level1, #level2{
		width: 450px;
		font-size: 14px;
	}
}