@media screen and (min-width: 501px) and (max-width: 1000px){
	#main-grid{
		grid-template-columns: repeat(2, 1fr) !important;

	}

	#control button{
		width: 100px;
	}

	#settings input, #settings select{
		width: 75px;
	}

	.level2-container{
		grid-template-areas:
		'level1 level1'
		'level2 price-history'
		'control control'
		'broker-interface2 broker-interface2';
	}
}

@media screen and (max-width: 500px){
	main{
		overflow: scroll;
	}

	body{
		padding:5px;
		margin: 0;
		width: 500px;
	}

	#settings{
		font-size: 10px;
	}

	.input-field{
		width: 70px;
	}

	#account-info{
		grid-area: account-info;
	}

	.level2-container{
		grid-template-areas:
		"level1"
		"price-history" 
		"control"
		"broker-interface2" !important;
		width: 100vw !important;
	}

	#broker-interface1, 
	#level2, 
	#broker-messages, 
	#field-closed-positions, 
	#field-position-info, 
	#field-open-orders, 
	#candle-visualizer, 
	#field-short-locate, 
	#field-offer-shares,
	#menu-button{
		visibility: hidden !important;
	}

	#broker-interface2{
		display: grid;
		grid-template-areas: 
		'account-info' !important;
		height: 100px;
	}

	#field-account-info{
		width: 100%;
	}

	

	#control{
		grid-template-areas: 
		'setting'
		'send'
		'control' !important;
	}

	#level1{
		flex-flow: row wrap !important;
		font-size: 10px;
	}


}