#table-position-info, #table-closed-positions, #table-open-orders{
	font-size: 13px;
	width: 100%;
	text-align: center;
}

#table-broker-messages{
	font-size: 0.8rem;
	width: 100%;
}

#table-broker-messages td{
	max-width: 0px;
}

#table-price-history th{
	color: white;
}

#table-price-history td{
	text-align: center;
	color: white;
	max-width: 0px;
}

#table-level2{
	text-align: center;
}

#table-level2 th{
	position:sticky;
	top: 2px;
	background: rgba(0, 0, 0, 0.3);
}

.container-table{
	width: 100%;
	text-align: left;
}

.container-table td{
	max-width: 0px;
}